/*============================
|| FONT IMPORTS
============================*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Fonts Inported: Inter, Montserrat, Raleway */

/*============================
|| VARIABLES
============================*/

:root {

/* || Colors
============================*/

    --MAIN-COLOR: #fafafa;
    --SECONDARY-COLOR: #e9e9e9;
    --THIRD-COLOR: #969696;
    --TEXT-HOVERCOLOR: #535353;
    
    --FONT-INVERSECOLOR: #f5f5f5;
    --FONT-MAINCOLOR: #000000;
    
    --BG-COLOR-LIGHTER: #f5f5f5;
    --BG-COLOR-DARKER: #ececec;
    --CONTENT-BGCOLOR: #ffffff;

/* || Fonts
============================*/

    --BODY-FF: "Inter", Verdana, sans-serif;
    --TITLE-FF: "Montserrat", Verdana, sans-serif;
    --SUBTITLE-FF: "Raleway", Verdana, sans-serif;

    --BODY-FS: clamp(1rem, 0.643rem + 0.952vw, 1.5rem);
    --H1-FS: clamp(2rem, 0.929rem + 2.857vw, 3.5rem);
    --H2-FS: clamp(1.5rem, 0.607rem + 2.381vw, 2.75rem);
    --H3-FS: clamp(1.3rem, 0.729rem + 1.524vw, 2.1rem);
    --H4-FS: clamp(1.15rem, 0.971rem + 0.476vw, 1.4rem);
    --SMALL-FS: clamp(0.8rem, 0.479rem + 0.857vw, 1.25rem);

    --H1-WEIGHT: 600;
    --H2-WEIGHT: 700;

/* || Spacing
============================*/

    --PADDING-S: 0.5rem;
    --PADDING-M: 1rem;
    --PADDING-L: 1.5rem;

/* || Decoration
============================*/

    --SHADOW-1: 0 1px 5px #b9b9b9;
    --SHADOW-1-MENU: -1px 53px 5px #b9b9b9;
    --BORDER-1: 1px soild #979797;

/* || Navbar Settings
============================*/

    --NAVBAR-COLOR: #f7f7f7;

/* || Content Size Settings
============================*/

    --CONTENT-MAX-WIDTH: 800px;
    --CONTENT-WIDTH: 90vw;
    --CONTENT-PADDING: var(--PADDING-L);

}

/* || Dark Mode
============================*/

/* Incomplete */

/*============================
|| GENERAL STYLES
============================*/

/* || CSS Reset
============================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* || Universal Styles
============================*/

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--BODY-FF);
    font-size: var(--BODY-FS);
    min-height: 300vh;
    background-color: var(--CONTENT-BGCOLOR);
    line-height: var(--LINE-HEIGHT);
}

input {
    font: inherit;
}

*:focus-visible {
    outline: 2px solid var(--FONT-MAINCOLOR) !important;
    
    /* Unfortunately, the !important is required
    to place a outline on focused elements for
    accessibility reasons :( */
}

h1 {
    font: var(--H1-FS) var(--TITLE-FF);
    font-weight: var(--H1-WEIGHT);
    line-height: var(--LINE-HEIGHT);
}

h2 {
    font: var(--H2-FS) var(--SUBTITLE-FF);
    font-weight: var(--H2-WEIGHT);
    line-height: var(--LINE-HEIGHT);
}

h3 {font: var(--SUBTITLE-FF) var(--H3-FS)}
h4 {font: var(--SUBTITLE-FF) var(--H4-FS)}


/*============================
|| UTILITY CLASSES
============================*/

.offscreen {
    position: absolute;
    left: -999999px;
}

/*============================
|| HEADER AND FOOTER
============================*/

.header, .footer {
    background-color: var(--BG-COLOR-LIGHTER);
    padding: 16px 32px;
    text-align: center;
}

.header {border-bottom: var(--BORDER-1)}

/*============================
|| NAVIGATIONAL STYLES
============================*/

.nav {
    background: var(--NAVBAR-COLOR);
    border: var(--NAVBAR-BORDER);
    backdrop-filter: var(--NAVBAR-BLUR);
    -webkit-backdrop-filter: var(--NAVBAR-BLUR);
    box-shadow: var(--SHADOW-1);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 4px 16px;
    width: 100vw;

    position: sticky;
    top: 0;
}

.nav__logo-image {
    height: 40px;
    width: auto;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav__ul {
    display: flex;
    justify-content: center;

    list-style-type: none;

    padding-left: 32px;
}

.nav__menu{display: none}

.nav__li {
    margin-inline: 16px;
}

.nav__li:hover {
    cursor: pointer;
}

/* || Nav Device Adaptation
============================*/

@media screen and (max-width: 640px) {

    .nav__menu--button span {
        display: block;
        
        position: fixed;
        right: 16px;
        z-index: 999;
        
        width: 35px;
        height: 3px;
        
        background-color: var(--FONT-MAINCOLOR);
        transition: transform 0.5s, opacity 0.5s, top 0.5s;
    }

    .nav__menu--button span::before {
        content: "";
        position: absolute;
        top: -12px;
        bottom: -12px;
        left: -12px;
        right: -12px;
        background-color: transparent;
        z-index: 2;
    }

    .nav__menu--button span:first-child {top: 13.5px}
    .nav__menu--button span:nth-child(2) {top: 23.5px}
    .nav__menu--button span:last-child {top: 33.5px}


    .nav {
        height: 50px;
    }

    .nav__ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        position: fixed;
        top: 0;
        left: 100vw;
        z-index: -1;
        
        height: 100vh;
        width: 70vw;
        padding-top: 56px;

        transition: left 0.5s;
        background-color: var(--NAVBAR-COLOR);
        box-shadow: var(--SHADOW-1-MENU);
    }

    .nav__li {
        padding: 8px;
        border-top: var(--NAVBAR-MENUBORDER);
    }

    .nav__li:last-child {border-bottom: var(--NAVBAR-MENUBORDER);}

    .nav__menu:checked ~ .nav__ul {
        left: 30vw;
        transition: left 0.5s;
    }

    .nav__menu:checked ~ .nav__menu--button span:first-child {
        transform: rotateZ(45deg);
        top: 25px;
        transition: top 0.5s, transform 0.5s;
    }

    .nav__menu:checked ~ .nav__menu--button span:last-child {
        transform: rotateZ(-45deg);
        top: 25px;
        transition: top 0.5s, transform 0.5s;
    }

    .nav__menu:checked ~ .nav__menu--button span:nth-child(2) {
        opacity: 0;
        transition: opacity 0.3s;
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    .nav {
        height: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .nav {
        height: 50px;
    }
}

@media screen and (min-width: 1200px) and (max-width: calc(infinity * 1px)) {
    .nav {
        height: 50px;
    }

    .nav__h1 {
        font-size: var(--H3-FS);
    }

    .nav__li {
        font-size: var(--SMALL-FS);
    }
}


/*============================
|| MAIN CONTENT
============================*/

.main {
    width: 90vw;
    max-width: 1000px;
    margin-inline: auto;
    background-color: var(--CONTENT-BGCOLOR);
}
