@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, Sans-Serif; 
    line-height: 1.4;
}

section {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

li {
    list-style: disc;
    padding-left: 15%;
    padding-right: 15%;
    list-style-position: inside;
    text-indent: -1.5rem;
}

p, li {
    font-family: Inter, Arial, Helvetica, Sans-Serif;
    width: 90%;
    margin: 0 auto;
}

header, footer {
    background-color: #f0f0f0;
    padding: 1.5rem;
}

header {
    border-bottom:#c2c2c2 2px solid;
}

footer {
    margin-top: 2rem;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    border-top:#c2c2c2 2px solid;
}

h1, h2, h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-family: Montserrat;
}

h3 {
    font-weight: 600;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

a {
    color: rgba(0, 0, 0, 0.8);
}

a:focus, a:hover{
    color: black;
}

a:visited {
    color: rgba(0, 0, 0, 0.8);
}